example_data/model_eeg.sav
neuro_haptics/__pycache__/bci_funcs.cpython-310.pyc
main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
main.synctex.gz
*.DS_Store
*.pyc
neuro_haptics/aleks/logs
neuro_haptics/__pycache__
neuro_haptics/aleks/rl/logs
analyses/*.png
analyses/*.pdf
analyses/*.eps
analyses/*.svg